@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
/*..................header...........*/
header{
    height: 10vh;
    background-color: snow;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Orbitron, sans-serif;
}
header div{
    text-align: center;
}
header div h3{
    font-size: 16px;
}
header nav ul{
    display: flex;
    gap: 20px;
}
header nav a{
    color: gray;
    font-size: 20px;
}
/*.....................main...........................*/
.active-link{
    color: #3b6352;
}
main{
    height: 90vh;
    background-image: url("https://images.unsplash.com/photo-1542273917363-3b1817f69a2d?q=80&w=2074&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    display: flex;
}
main h1 {
    font-size: 80px;
    letter-spacing: 10px;
}
main iframe{
    margin-top: 20vh;
    text-align: left;
    margin-left: 0;

}
main ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
main div{
    background-color: snow;
    font-family: Orbitron, sans-serif;
    position: absolute;
    top: 50vh;
    right: 20px;
    padding: 15px;
    border-radius: 10px;
}


